.userInfo {
  background-color: var(--bg-secondary-dark);
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.user-shifts {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.user-shifts i {
  width: 100%;
  text-align: center;
}

.user-shift {
  background-color: var(--bg-element-dark);
  border-radius: 8px;
  padding: 0.25rem;
  width: 50%;
  cursor: pointer;
}

.user-shift .date {
  border-bottom: 1px solid var(--bg-secondary-dark);
}

.user-stop-name {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.user-time {
  color: green;
}

.user-time.crossed {
  text-decoration: line-through;
  color: red;
  margin-right: 0.5rem;
}
