.userInfo {
  background-color: var(--bg-secondary-dark);
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.user-shifts {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.user-shift {
  background-color: var(--bg-element-dark);
  border-radius: 8px;
  padding: 0.25rem;
  width: 50%;
}

.user-shift .date {
  border-bottom: 1px solid var(--bg-secondary-dark);
}

.user-stop-name {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.user-time {
  text-decoration: line-through;
  color: red;
}

.user-new-time {
  color: green;
  margin-left: 0.5rem;
}
