.user-info {
  background-color: var(--bg-element-dark);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

.user-info p {
  font-size: 0.9rem;
  color: var(--text-dim);
}
