* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main-dark);
  color: var(--text-main);
}

#root {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.app {
  width: 100%;
  max-width: 460px;
  height: 100%;
  padding: 2px 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  padding-bottom: 0.5rem;
  background-color: var(--bg-secondary-dark);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}

header h1 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

header p {
  font-size: 0.875rem;
  color: var(--text-dim);
}

header a {
  background-color: var(--bg-element-dark);
  color: var(--text-dim);
  text-decoration: none;
  margin: 0.5rem 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: inline-block;
}

header a:hover {
  color: var(--text-main);
}

header a.active {
  background-color: var(--selected);
  color: var(--text-main);
}

header .logoutBtn {
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #eee;
  cursor: pointer;
}
