:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* dark theme */
  --bg-main-dark: #1a1b1e;
  --bg-secondary-dark: ##2c2e33;
  --bg-element-dark: ##3f4147;
  --selected: #0066cc;
  --selected2: #1e40af;
  --text-dim: #a1a1aa;
}

body {
  background-color: var(--bg-main-dark);
}
